docker-cdh/cloudera-cdh-edgenode/edge_data/scala-2.12.8.rpm
docker-cdh/cloudera-cdh-edgenode/edge_data/spark-2.2.0-bin-without-hadoop.tgz
flink-demo/flink-1.10.0-bin-scala_2.11/lib/flink-dist_2.11-1.10.0.jar
flink-demo
